*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 .container{

 }

 .row::after{
   content: "";
   display: "table";
   clear: both;
 }

 .col{
   float: left;
 }

 .col-50{
   width: 50%;
 }

 hr{
   color: red;
 }
  /*classi elementi senza contenuto*/
  .h-80{
    height: 80px;
  }

.row .col{
  border: 1px solid black;
}

.col-big{
  height: 450px;
  width: 350px;
}

.cont{
height: 450px;
width: 350px;
}


 .clearfix::after{
   content: "";
   display: table;
   clear: both;
 }
.columns{
  float:left;

}

.col-1{
  border: 1px solid black;
  height: 450px;
  width: 250px;
}

.col-2{
  border: 1px solid black;
  height: 450px;
  width: 250px;

}
.col-3{
  border: 1px solid black;
  height: 450px;
  width:250px;
}
