*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 .row::after{
   content: "";
   clear: both;
   display: table;

 }

  .container{

  }

.row-1{
   height: 70px;
   background: lightgrey;
 }

.col{
  float: left;
 }

.row-2 >.col-1{
border: 1px solid black;
height: 70px;
width: 100%;
 }

.col-3{
   height: 450px;
   width: 500px;
   border:1px solid black;
 }

.row-3{
 height: 250px;
 width: 1000px;
  border: 2px solid red;
 margin-left: auto;
 margin-right: auto;
 }

 .columns{
   float: left;

 }

.col-4{
border: 1px solid green;
height: 450px;
width: 250px;
margin-left:300px;
}

.col-5{
border: 1px solid green;
height: 450px;
width: 250px;
margin-left: 10px;
}
.col-6{
border: 1px solid green;
height: 450px;
width: 250px;
margin-left:10px;
}

 .line{
   background-color: rgb(52, 216, 235)
 }
.row-4{
  height: 80px;
  width: 1000px;
  border: 1px solid red;
  margin-top:500px;
  margin-left: 100px;
}
.row-5{
  height: 80px;
  width: 1000px;
  border: 1px solid red;

  margin-left: 100px;
}

.row-6{
  border: 1px solid black;
  height: 70px;
  width: 100%;
}
 .col-7{
   height: 350px;
   width: 300px;
   border:1px solid black;
   margin-left: 60px;
 }
